@font-face {
  font-family: 'Nelphim';
  src: url('/fonts/NelphimItalic-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nelphim';
  src: url('/fonts/Nelphim-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSans Normal';
  src: url('/fonts/MiSans-Normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html::before {
  content: '';
  position: fixed;
  z-index: 9999;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  box-sizing: border-box;
  pointer-events: none;
  border: 16px solid;
  border-image: linear-gradient(to bottom, transparent 30%, #ecd1c6, #ccf6d2);
  border-image-slice: 1;
}

/*
:root {
  --light-brown: #86746c;
}

::selection {
  background: #fddfe2;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 20px;
  background: var(--light-brown);
  border-radius: 2px;
}

::selection {
  background: pink;
}

::-moz-selection {
  background: pink;
}*/


body, html {
  height: 100%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  cursor: url(../assets/dot.png), auto;
  overflow-y: hidden;
  overflow-x: hidden;
  line-height: 1.1em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  cursor: url(../assets/dot.png), auto;
}

* {
  margin: 0;
  padding: 0;
  order: 0;
}

.image {
  background-image: url("../assets/cloud-bg.png");
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}

h1 {
  mix-blend-mode: overlay;
  font-size: calc(80px);
  background-color: transparent;
  filter: invert(100%);
  color: purple;
  opacity: .8;
  perspective: 500px;
}
h4{
  mix-blend-mode: overlay;
  font-size: 50px;
  background-color: transparent;
  filter: invert(100%);
  color: darkblue;
  opacity: .8;
  perspective: 500px;
}
h1, p, .contact {
  font-family: 'Nelphim';
  position: relative;
}


h4 {
  font-size: 44px;
 
}

.main {
  display: block;
  padding-top: 13%;
  padding-bottom: 3.2%;
}

section>div {
  cursor: inherit;
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.section {
  float: left;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section:first-child {
  background-color: lightblue;
}

.section:nth-child(2) {
  background-color: #c7d3df;
  background: linear-gradient(to top left, #c7d3df 40%, #fdf4e5 109%);
}

.section:nth-child(3) {
  background: linear-gradient(to top left, #e9ccba 40%, #fdf4e5 89%);
}

.section:nth-child(4) {
  background-color: #fdf4e5;
  background: linear-gradient(to top left, #c7d3df 50%, #fdf4e5 109%);
  width: 50vw;
}


.section:nth-child(5) {
  background-color: lightgrey;
 
}

.section-inner {
  width: 80%;
  margin: 0 auto;
}

.sections {
  min-width: 100vw;
  height: 100vh;
}

.section__title, .section__heading {
  width: 100%;
}


.contact {
  text-align: left;
margin:auto auto;


}
.contact-inner{
  padding: 0 0%;
}
.lwd {
  font-size: 20px;
  margin: 10% 0% 10%;
  line-height:1.4;
  font-family: 'MiSans Normal';
}

.projects-section {
  background-color: #c7d3df;
}

.projects-inner {
  max-width: 1700px;
}

.projects-inner>img {
  max-height: 355px;
  min-height: 200px;
  border-radius: 18px;
}

@media (min-width: 1281px) {
  .section-inner {
    width: 50%;
  }

  .projects-section {
    padding: 10% 20% 15%;
  }
}

/*
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}
*/
.intro {
  font-size: 3vw;
  color: #3b444b;
  padding: 50px 0 20px 0;
  line-height: 1.25;
}


.headline {
  align-items: center;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  font-weight: 700;
  perspective: 1000px;
  scroll-snap-align: start;
  letter-spacing: 4px;
  word-spacing: 30px;
  /*  font-size: calc(1rem + 15vmin);
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  scroll-snap-align: start;
  width: 100vw;*/
}

.whitespace {
  margin-right: 20px;
}

/*(.headline:nth-child(1) {
  --color: #f9ca24;
}
.headline:nth-child(2) {
  --color: #3498db;
}
.headline:nth-child(3) {
  --color: #ff7979;
}
.headline:nth-child(4) {
  --color: #1abc9c;
}
.headline:nth-child(5) {
  --color: #e74c3c;
}
.headline:nth-child(6) {
  --color: #f8c291;
}*/

.word,
.char {
  -webkit-animation-delay: var(--del);
  animation-delay: var(--del);
  -webkit-animation-direction: var(--dir, normal);
  animation-direction: var(--dir, normal);
  -webkit-animation-duration: var(--dur);
  animation-duration: var(--dur);
  -webkit-animation-iteration-count: var(--it, infinite);
  animation-iteration-count: var(--it, infinite);
  -webkit-animation-name: var(--name);
  animation-name: var(--name);
  -webkit-animation-timing-function: var(--tf);
  animation-timing-function: var(--tf);
  -webkit-animation-fill-mode: var(--fill, forwards);
  animation-fill-mode: var(--fill, forwards);
  display: inline-block;
  position: relative;
  transform-origin: 50% 100%;
  z-index: 1;
}

.headline--float .char {
  --name: float;
  --dur: 2200ms;
  --del: calc(var(--char-index) * -0.5s);
  --tf: ease-in-out;
  --dir: alternate;
}

.headline--float .char:nth-child(2n) {
  --name: float-alt;
}
.headline2 {
  align-items: center;
  background-color: var(--color);
  display: flex;

  font-weight: 700;
  perspective: 1000px;
  scroll-snap-align: start;
  letter-spacing: 4px;
  word-spacing: 30px;
  /*  font-size: calc(1rem + 15vmin);
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  scroll-snap-align: start;
  width: 100vw;*/
}
@-webkit-keyframes float {
  from {
    transform: translate(2%, -10%) rotate(-1deg);
  }

  to {
    transform: translate(-2%, 5%) rotate(3deg);
  }
}

@keyframes float {
  from {
    transform: translate(2%, -10%) rotate(-1deg);
  }

  to {
    transform: translate(-2%, 5%) rotate(3deg);
  }
}

@-webkit-keyframes float-alt {
  from {
    transform: translate(0%, -5%) rotate(-1deg);
  }

  to {
    transform: translate(2%, 10%) rotate(3deg);
  }
}

@keyframes float-alt {
  from {
    transform: translate(0%, -5%) rotate(-1deg);
  }

  to {
    transform: translate(2%, 10%) rotate(3deg);
  }
}

.btn {
  width: 280px;
  height: 56px;
  display: inline-block;
  position: relative;
  top: 20%;
  margin: 16px;
  overflow: hidden;
  background: transparent;
  border: 2px solid white;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-family: 'MiSans';
  font-size: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
}

.btn:focus {
  outline: none;
}

.btn:before {
  content: "";
  padding: 100%;
  top: -4px;
  left: -4px;
  right: -4px;
  background: url("../assets/cloud-bg.png") no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: 10%;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
}

.btn2 {
  width: 280px;
  height: 56px;
  display: inline-block;
  position: relative;
  top: 20%;
  overflow: hidden;
  background: transparent;
  border-radius: 30px;
  text-align: center;
  color: #9e957d;
  font-family: 'MiSans';
  font-size: 13px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
}

.btn2:before {
  content: "";
  padding: 100%;
  top: -4px;
  left: -4px;
  right: -4px;
  background: url("https://img.pixers.pics/pho_wat(s3:700/FO/53/40/37/59/700_FO53403759_8fea9c6e9c24b27c89f55711107c76ea.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/posters-abstract-vector-texture-gold-silk.jpg.jpg") no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: 5%;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
}

.container {
  background: transparent no-repeat;
}

.btn2:hover {
  color: #79715e;
}

.btn span {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 9;
}

.btn2 span {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 9;

}

.btn#btn-1:before {
  transition: all 0.3s ease;
}

.btn#btn-1:hover:before {
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.btn#btn-2:before {
  transition: all 0.3s ease;
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.btn#btn-2:hover:before {
  -webkit-filter: blur(0);
  filter: blur(0);

}

.btn2#btn-2:before {
  transition: all 0.3s ease;
  -webkit-filter: blur(6px);
  filter: blur(6px);
  color: #3b444b;
}

.btn2#btn-2:hover:before {
  -webkit-filter: blur(0);
  filter: blur(0);
  color: #3b444b;
}
#logo{
  position:absolute;
  width:15%;
  mix-blend-mode: color-dodge;
  background-color: transparent;
  color: purple;
  opacity: .8;
  top:0px;
  left:0;
}
/* REDCATED
 .card-container {
  max-width: 100%;
}

.card-section {
  min-height: 100vh;
}

.card-section>h2 {
  padding-top: 10%;
  padding-bottom: 3.2%;
  font-size: 2.6em;
}

.card-container, .projects-section {
  display: flex;
  align-items: center;
  justify-content: center;

}

.card {
  display: flex;
  width: 50%;
  height: 585px;
  border-radius: 18px;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.12);
  text-align: center;
  cursor: pointer;
  transform-style: preserve-3d;
  border: double 1em transparent;
  border-width: 7px;
  background-image: linear-gradient(transparent, transparent), linear-gradient(to bottom, peachpuff 5%, #c7d3df);
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding-bottom: 3%;
}

.card-text {
  grid-area: text;
  margin: 25px;
  transform: translateZ(30px);
  text-align: left;
}

.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}

.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.js-tilt-glare {
  border-radius: 18px;
}
 */
@media (min-width: 1281px) {
  .main-inner {
    max-width: 75%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */
  .main-inner {
    max-width: 75%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */
  .main-inner {
    max-width: 86%;
  }

  p {
    font-size: 32px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 567px) and (max-width: 767px) {
  .main-inner {
    max-width: 85%;
  }
  .section:nth-child(4) {
    background-color: #fdf4e5;
    background: linear-gradient(to top left, #c7d3df 50%, #fdf4e5 109%);
    width: 85vw;
  }
}

@media (min-width: 481px) and (max-width: 567px) {
  .main-inner {
    max-width: 97%;
  }

  h1 {
    font-size: 56px;
  }

  p {
    font-size: 27px;
  }
  .section:nth-child(4) {
    background-color: #fdf4e5;
    background: linear-gradient(to top left, #c7d3df 50%, #fdf4e5 109%);
    width: 155vw;
  }
   .btn2 {
    width: 100px;
    height: 46px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .main-inner {
    max-width: auto;
  }

  h1 {
    font-size: 40px;
  }

  .intro {
    font-size: 6vw;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .card-section {
    flex-direction: column;
  }

  .section:nth-child(4) {
    width: 85vw!important;
  }

  .btn2 {
    width: 100px;
    height: 46px;
  }
  
}
